/*** FONTS
font-family: 'Abel', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
***/

/*** COLORS
#faced6 - pink
#fcf7be - yellow
#ddeedd - green
#ccecfc - blue
#d9c3df - purple
#fdeef0 - pale pink
#0c2630 - dark blue
***/
