/*** FONTS
font-family: 'Abel', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
***/

/*** COLORS
#faced6 - pink
#fcf7be - yellow
#ddeedd - green
#ccecfc - blue
#d9c3df - purple
#fdeef0 - pale pink
#0c2630 - dark blue
***/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    color: #0c2630;
}

h1 {
    font-family: 'Abel', sans-serif;
    margin: 0;
}

h2,
h3,
h4,
h5,
h6,
nav ul li {
    font-family: 'Open Sans Condensed', sans-serif;
}

p,
ul li {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #fdeef0;
}

#edu {
    background-color: #d9c3df;
}

#work {
    background-color: #ccecfc;
}

#skills {
    background-color: #ddeedd;
}

#interests {
    background-color: #fcf7be;
}

footer {
    background-color: #faced6;
}

header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

header h1 {
    font-size: 3em;
}

header img {
    width: 80%;
    max-width: 500px;
    margin: 2%;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 3%;
    font-size: 1.3em;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #0c2630;
}

#edu,
#work,
#skills {
    padding: 2%;
}

#edu h2,
#work h2,
#skills h2 {
    padding: 3%;
    font-size: 1.6em;
}

#edu article,
#work article,
#skills article {
    padding: 3%;
}
