/*** FONTS
font-family: 'Abel', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
***/

/*** COLORS
#faced6 - pink
#fcf7be - yellow
#ddeedd - green
#ccecfc - blue
#d9c3df - purple
#fdeef0 - pale pink
#0c2630 - dark blue
***/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    color: #0c2630;
}

h1 {
    font-family: 'Abel', sans-serif;
    margin: 0;
}

h2,
h3,
h4,
h5,
h6,
nav ul li {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-size: 2em;
}

p,
ul li {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #fdeef0;
    background-image: url('../img/pale.png');
}

#edu {
    background-color: #d9c3df;
    background-image: url('../img/purple.png');
}

#edu article,
#work article,
#skills article,
#interests article,
#contact p,
#contact ul {
    opacity: 0;
}

#work {
    background-color: #ccecfc;
    background-image: url('../img/blue.png');
}

#skills {
    background-color: #ddeedd;
    background-image: url('../img/green.png');
}

#interests {
    background-color: #fcf7be;
    background-image: url('../img/yellow.png');
}

footer {
    background-color: #faced6;
    background-image: url('../img/pink.png');
}

header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

header h1 {
    font-size: 3em;
}

header img {
    width: 40%;
    max-width: 500px;
    margin: 2%;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 3%;
    font-size: 1.3em;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #0c2630;
}

#edu,
#work,
#skills,
#interests,
#contact {
    padding: 2%;
}

#edu h2,
#work h2,
#skills h2,
#interests h2,
#contact h2 {
    padding: 3%;
}

#edu article,
#work article,
#skills article,
#interests article,
#contact p {
    padding: 3%;
}

#interests img {
    width: 50%;
    padding: 2%;
}

#interests article {
    display: inline-block;
    width: 49%;
    text-align: center;
}

#contact p {
    font-size: 1.3em;
    padding-left: 6%;
}

#contact ul {
    padding-left: 0;
    padding-top: 5%;
}

#contact ul li {
    list-style-type: none;
    display: inline;
    width: 20%;
    padding: 5%;
}

#contact img {
    width: 10%;
}

@media (min-width: 600px) {

    header ul li {
        display: inline-block;
        width: 40%;
    }
}

@media (min-width: 800px) {

    #info {
        display: inline-block;
        vertical-align: top;
        margin: 10%;
    }

    #info h2 {
        padding-top: 30%;
    }

    header img {
        width: 20%;
        margin: 10%;
    }

    #edu article {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    #work article {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    #skills article {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    #interests article {
        width: 25%;
        vertical-align: top;
    }

    #contact img {
        width: 5%;
    }

    main h2,
    footer h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.7em;
    }

    #contact p,
    p {
        font-size: 1.5em;
    }

    main ul li {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {

    nav ul li {
        width: 15%;
    }

    #info h1 {
        font-size: 4em;
    }

    #work article {
        width: 32%;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.35);
    }

    #edu,
    #work,
    #skills,
    #interests,
    #contact {
        padding-top: 8%;
    }

    #interests img {
        width: 30%;
    }
}

/* scrollify */
.pale {
    background-color: #fdeef0;
}

.purple {
    background-color: #d9c3df;
}

.blue {
    background-color: #ccecfc;
}

.green {
    background-color: #ddeedd;
}

.yellow {
    background-color: #fcf7be;
}

.pink {
    background-color: #faced6;
}
